In [50]:
from pandas import Series

series1=Series([1,2,3,4,5,6])
series3=Series([100,200,300,400,500,600])
series2=Series([100,200,300],index=["Speed","Temp","Humidity"])
print(series1)
print(series2)
print(series1+series3)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Speed       100
Temp        200
Humidity    300
dtype: int64
0    101
1    202
2    303
3    404
4    505
5    606
dtype: int64

In [51]:
from pandas import DataFrame
data1={"Speed":[100,200,300],
       "Temp":[12,33,45]}
data1

{'Speed': [100, 200, 300], 'Temp': [12, 33, 45]}

In [52]:
frame1=DataFrame(data1)
frame1

   Speed  Temp
0    100    12
1    200    33
2    300    45

In [53]:
data2={"Speed":[100,200,300],
       "Temp":[12,33,45],
      "Humidity":[15,57,70]}
data2

{'Speed': [100, 200, 300], 'Temp': [12, 33, 45], 'Humidity': [15, 57, 70]}

In [54]:
frame2=DataFrame(data2)
frame2

   Speed  Temp  Humidity
0    100    12        15
1    200    33        57
2    300    45        70

In [55]:
frame1+frame2

   Humidity  Speed  Temp
0       NaN    200    24
1       NaN    400    66
2       NaN    600    90

In [56]:
frame2

   Speed  Temp  Humidity
0    100    12        15
1    200    33        57
2    300    45        70

In [57]:
series2

Speed       100
Temp        200
Humidity    300
dtype: int64

In [58]:
frame2-series2

   Speed  Temp  Humidity
0      0  -188      -285
1    100  -167      -243
2    200  -155      -230